* {
    margin: 0;
    padding: 0;
}

/* Stopping the user from printing 
   this web page.
*/
@media print {
    html, body {
        /* Hide the entire page. */
        display: none;
    }
}

a {
    font-weight: bold;
}

a:link {
    color:rgb(13, 68, 80);
}
a:visited {
    color:rgb(150, 72, 193);
}

a:hover, a:focus {
    --bgSize: 400%;
    background: linear-gradient(to right, red, orange, yellow, green, blue, violet) 0 0 / var(--bgSize) 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
    text-decoration-color: black;
    animation: moveBackground 5s linear infinite;
}

h1, h2, h3 {
    font-family: 'Courier New', monospace;
    margin-bottom: .25em;
    text-shadow: 3px 3px 8px rgba(139, 50, 167, 0.982);
    text-decoration: underline;
    padding: 0em 0em .5em 0em;
}

p {
    user-select: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 2%;
    font-size: 95%;
    padding: .25em 0;
}

ul {
    margin: 0 0 1.5em 0;
}

li {
    font-size: 95%;
    padding-bottom: .35em;
    padding-left: .25em;
    /* Forthcoming list image to go here.
    * The internet recommends a size of 1200px wide by 800px high.
    * 3:2 aspect ratio.
    * Should be under 3 MB.
     */
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    background: linear-gradient(-45deg, #FF5CC3, #D38BEE, #23a6d5, #F6B561);
	background-size: 400% 400%;
	animation: gradient01 30s cubic-bezier(.17,.66,1,.48) infinite;
	height: 100vh;
    width: 100%;
    max-width: 2560px;
}

header {
    text-align: center;
    text-decoration: underline;
    width: 100%;
    max-width: 2560px;
    padding-top: 1em;
}

header h1 {
    font-size: 220%;
    text-shadow: 2px 2px 2px grey;
}

nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 2560px;
    overflow: hidden;
}

main {
    float: clear;
    width: 80%;
    padding: 0 10% 0 10%;
}

main h1 {
    font-size: 170%;
    font-style: bold;
    /*TBD: Make a pixel cloud background that remains fixed
      bedhind the main header as a background-image or 
      background-attachment. page 163 */
}

main h2 {
    font-style: italic;
    font-size: 130%;
    text-align: center;
}


section {
    margin: 2em 0 2em 0;
    padding: 1em 1em 1em 1em;
    /* flex-direction: row; */
    border: 3px dotted lavender;
    border-radius: 25px;
    background-color: rgb(216, 191, 228);
    box-shadow: 5px 5px 0 rgb(171, 98, 193);
}

section img {
    margin: 1em 1em 1em 1em;
    width: 100%;
    max-width: 250px;
    position: relative;
}

section li {
    margin-left: 1em;
}

footer {
    margin: 3em 1em 1em 1em;
    padding: 10px;
    border-top: 2px solid rgb(216, 191, 228);
    clear: both;
    /*TBD: Make a pixel grass and cat background that remains fixed
      bedhind the footer as a background-image or 
      background-attachment. page 163 */
}

footer p {
    text-align: right;
    text-indent:0%;
    font-size: 80%;
    margin: 1em 1em 1em 1em;
}

#mobile_menu {
    display: none;
}

#nav_menu ul {
   /* list-style-type: none;
    padding: 1em 0;
    text-align: center;
    display: inline-block; */

    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    list-style-type: none;
    padding: 1em 0;
}

#nav_menu ul li {
    /* float: left;
    padding: 0 1em; */
    flex-basis: 20%;
}

#nav_menu ul li a {
    font-weight: bold;
    color: rgb(13, 68, 80);
    text-align: center;
    display: block;
    width: 110%;  /* formerly 175px */
    padding: .5em 0;
    text-decoration: none;
    background-color:rgb(130, 192, 188);
    border-radius: 25px;
    border: 3px solid teal;
}

#nav_menu ul li a.current {
    color:rgb(150, 72, 193);
}



/* I just hated how it looked on different devices.
aside {
    height: 200px;
    width: 25%;
    margin: 1em 1em 1em 1em;
    padding: 10px;
    float: right;
    position: sticky;
    border: 3px dotted rgb(34, 216, 244);
    border-radius: 25px;
    background-color: #6ad7ff;
    box-shadow: 5px 5px 0 rgb(29, 96, 105);
}

aside h2, aside h3 {
    text-shadow: 3px 3px 8px rgba(21, 85, 108, 0.982);
}

*/

#toTop {
    text-align: center;
    font-size: 95%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@keyframes gradient01 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes moveBackground {
    to {
        background-position: var(--bgSize) 0;
    }
}



@media only screen and (max-width: 411px) {
    #nav_menu {
        display: none !important;
    }
    #mobile_menu {
        display: block !important;
    }
    .slicknav_menu {
        background-color: rgb(136, 220, 235) !important;
    }
    section img {
        max-width: 200px !important;
    }
}

@media only screen and (min-width: 412px) and (max-width: 520px){
    li {
        font-size: 85% !important;
    }
    #mobile_menu {
        display: none;
    }
    #nav_menu {
        display: block;
    }
}

@media only screen and (min-width: 521px) {
    /* Regular display values. */
}